<!doctype html>

<html ng-app="randl">

    <head>
        <link rel="stylesheet" href="styles/fonts/iconic/iconic_stroke.css" type="text/css" media="screen">
        <link rel="stylesheet" href="styles/lib/gridset.css" type="text/css" media="screen">
        <link rel="stylesheet" type="text/css" href="styles/catalog/dist/main.css">
    </head>

    <body>

        <div class="search s-all" ng-controller="SearchController">
            <div>
                <input suggest-search class="s1-s3 search-field" type="search" ng-model="query" placeholder="Search term..." />
                <button class="s4 search-submit iconic magnifying_glass"></button>
                <div class="search-suggest">
                    <div ng-repeat="hit in hits" class="search-hit"><a href="#"><span ng-bind-html-unsafe="hit"></span></a></div>
                </div>
            </div>
        </div>

        <script src="bower_components/jquery/jquery.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="scripts/src/main.js"></script>
    </body>
</html>