<div class="search-l-wrap-rent search-color-rent">  
    <div class="search-l-field">         
        <label for="lend" class="typo-size-l input-toplabel">I want to rent a...</label>                      
        <input name="lend" type="text" value="e.g. playstation, boat" class="typo-size-m search-input"/>
        <input type="submit" value="Search" class="typo-size-m button-size-m button-search search-specific-button-search"/>
    </div>
</div> 
<div class="search-l-wrap-lend search-l-picture-lend">  
    <div class="search-l-entry">         
        <div class="search-l-title typo-size-l typo-color-white">Or lend your stuff to<br />other people.
        </div>   
        <input name="LEND" type="button" onclick="window.location='lend-index.html';" value="Upload a lend-offer" class="typo-size-m button-size-m button-lend search-l-button"/> 
    </div>
</div> 