<!-- <h1>New Item</h1>
<form method="post" enctype="multipart/form-data" ng-submit="upload()">
    <input type="file" name="image" class="new-item__picture" accept="image/*" />
    <input type="submit" value="Upload" />
</form>
<img src="http://placehold.it/320x240" class="new-item__img" />
 -->


<form method="post" enctype="multipart/form-data" ng-submit="upload()">
    <div class="back-wrap-rent s-all"> 
        <a href="/items/lend"><span class='iconic arrow_left'></span>&nbsp;Back</a>
    </div>
    <div class="item-pic s-all" ng-click="choosePicture()">
        <img src="{{form.picture}}" />
    </div>
    <input style="display:none" type="file" name="image" class="js-new-item__file" accept="image/*" />
    <div class="item-content s-all">
        <label class="label-m">Item</label>            
        <input placeholder="what you want to lend" ng-model="form.title" class="field-m" required /> 
        <label class="label-m">Location</label>            
        <input placeholder="location of the item" ng-model="form.location" class="field-m" required />   
        <label class="label-m">Rental per day</label>            
        <input placeholder="rental in €" ng-model="form.price" class="field-m" required /> 
        <label class="label-m">Condition</label>            
        <textarea placeholder="describe condition of your item" ng-model="form.condition" class="field-m" required /></textarea>
        <div class="white-space"></div>
    </div>
    <div class="back-wrap-rent footer s-all">
        </div><input type="submit" value="Upload" /><span class='iconic arrow_right'></span></div>
    </div>
</form>
  