<div class="back-wrap-rent s-all"> 
    <a href="/items/rent"><span class='iconic arrow_left'></span>&nbsp;Back</a>
</div>
<div class="item-pic s-all">
    <img src="{{picture}}" alt="picture">
</div>
</div>
<div class="item-content s-all">
    <div class="item-headline">{{title}}</div>
    <div class="item-place">in {{location}}</div>  
    <div class="item-price"><span class="typo-size-xl">{{price}}</span>€ per day</div>            
    <div class="item-condition copy-text">
        <span class="headline-l">Condition:</span><br />
        {{condition}}
    </div>
    <div class="white-space"></div>
</div>
<div class="back-wrap-rent footer s-all">
    <a href="#">Rent Now&nbsp;<span class='iconic arrow_right'></span></a></div>
</div>