<div class="search-s-wrap color-rent s-all">  
    <div class="search-s-field">                              
        <input name="lend" type="text" placeholder="drill" value="{{query}}" class="typo-size-m typo-color-anthrazit search-input"/>
        <input type="submit" value="Rent" class="typo-size-m button-size-m button-search search-specific-button-search"/>
    </div>
    <div class="search-s-border-rent"></div>
</div> 
<div class="list-wrap s-all">
	<div class="list-item-wrap">
		<div class="list-item-picture"></div>
		<div class="list-item-content">
			<div class="list-item-headline">Sony Playstation (ungenutzt)</div>
		</div>
	</div>
</div>