<div class="back-wrap-rent s-all"> 
    <a href="#"><span class='iconic arrow_left'></span>&nbsp;Back</a>
</div>
<div class="item-pic s-all">
</div>
<div class="item-content s-all">
    <div class="item-headline">Playstation mit 4 Controllern</div>
    <div class="item-place">in Konstanz</div>  
    <div class="item-price"><span class="typo-size-xl">225</span>€ per day</div>            
    <div class="item-condition copy-text">
        <span class="headline-l">Condition:</span><br />
        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea.
    </div>
    <div class="white-space"></div>
</div>
<div class="back-wrap-rent footer s-all">
    <a href="#">Rent Now&nbsp;<span class='iconic arrow_right'></span></a></div>
</div>