<div class="back-wrap-rent s-all"> 
    <a href="/items/rent"><span class='iconic arrow_left'></span>&nbsp;Back</a>
</div>
<div class="item-pic s-all">
    <a href="#"><img style="background-image: url({{picture}})"/></a>
</div>
<div class="item-content s-all">
    <div class="item-headline">{{title}}</div>
    <div class="item-place">in {{location}}</div> 
    <div class="item-date">von Mi 25.11. bis So 28.11.</div>      
    <div class="item-price">{{price}}<span class="typo-size-m">€</span></div>            
    <div class="item-condition copy-text">
        <div class="headline-m">Zustand:</div>
        {{condition}}
    </div>
    <div class="item-user">
        <div class="headline-m">Verleiher:</div>        
        <div class="user-pic-s"></div>
        <div class="user-details">
            <a href="#" class="user-name">Manfred</a>
            <div class="user-rating">dabei seit 1.1.2014</div>            
        </div>
    </div>
    <div class="white-space"></div>
</div>
<div class="back-wrap-rent footer s-all">
    <a href="#">Rent Now&nbsp;<span class='iconic arrow_right'></span></a></div>
</div>