<div class="search-s-wrap color-rent s-all">  
    <form class="search-s-field" ng-submit="submit()">                              
        <input name="lend" type="text" placeholder="drill" ng-model="query" class="typo-size-m typo-color-anthrazit search-input"/>
        <input type="submit" value="Rent" class="typo-size-m button-size-m button-search search-specific-button-search"/>
    </form>
    <div class="search-s-border-rent"></div>
</div> 
<div class="list-wrap s-all">
	<div class="list-item-wrap" ng-repeat="item in items">
		<div class="list-item-picture"></div>
		<div class="list-item-content">
			<div class="list-item-headline">{{item.name}}</div>
		</div>
	</div>
</div>