<div class="search-l-wrap-rent color-lend">  
    <form class="search-l-field" ng-submit="submit()">         
        <label for="lend" class="typo-size-l input-toplabel">I can lend a...</label>                      
        <input name="lend" ng-model="query" type="text" placeholder="e.g. playstation, boat" class="typo-size-m typo-color-grey03 search-input"/>
        <input type="submit" value="Lend" class="typo-size-m button-size-m button-search search-specific-button-search"/>
    </form>
</div> 
<div class="search-l-wrap-lend search-l-picture-lend">  
    <div class="search-l-entry">         
        <div class="search-l-title typo-size-m typo-color-white">Or rent stuff from<br />other people.
        </div>   
        <input name="LEND" type="button" value="Find stuff to rent" class="typo-size-m button-size-m button-rent search-l-button"/> 
    </div>
</div> 