<h1>Messages</h1>
<p>User: {{user.email}}</p>
<form ng-submit="send()">
    <input ng-model="message" required="true" placeholder="Hello..." />
    <input type="submit" value="send" />
</form>

<form ng-submit="register()">
    <input ng-model="registration__email" type="email" placeholder="user@gmail.com" />
    <input ng-model="registration__password" type="password" placeholder="password" />
    <input type="submit" value="register" />
</form>

<form ng-submit="login()">
    <input ng-model="login__email" type="email" placeholder="user@gmail.com" />
    <input ng-model="login__password" type="password" placeholder="password" />
    <input type="submit" value="login" />
</form>

<div ng-repeat="message in messages">
    <h3>{{message.from}}</h3>
    <div>{{message.body}}</div>
</div>