$lend-primary-color: #ace502
$lend-secondary-color: #9cd001

$rent-primary-color: #FEFB00
$rent-secondary-color: #ffd200

$search-primary-color: #1485CC
$search-secondary-color: #0971B2

$grey01: #3a3a3a
$grey02: #2f2f2f
$grey03: #b4b4b4
$grey04: #c8c8c8

$anthrazit: #252525
$white: #fff

$orange: #EB8004
$red: #e62828


.color-lend 
    background-color: $lend-primary-color

.color-rent 
    background-color: $rent-primary-color   
    