.header-wrap 
	width: 100%
	height: 4.5rem
	left: 0
	top: 0
	position: absolute
	background-color: $anthrazit

.logo,
.logo a 
	height: 100%
	width: 10.1rem
	left: 0
	top: 0
	position: absolute	
	background: url(../../../img/00_global/logo-home.png) no-repeat 10px center	

.header-link
	height: 100%

.header-link a,
.header-link div
	height: 100%
	width: 4.5rem		
	line-height: 4.5rem	
	float: right
	text-align: center
	text-decoration: none	
		