// vars
@import "colors"
@import "typo"

// elements
@import "button"

// components
@import "search"
@import "header"
@import "items"
@import "off-canvas"
@import "item"

//body
body 
    background: url(../../../img/00_global/back_structure.gif)
    font-family: $primary-font
    font-size: 13px 
    font-size: 1.3rem 
    margin: 0

html 
    font-size: 62.5%
