@font-face 
    font-family: 'Quicksand'
    src: url(../../fonts/quicksand/Quicksand_Book.otf) format(opentype)
    font-weight: normal

$primary-font: Quicksand, Verdana, Geneva, Arial, sans-serif    



// Sizes

.typo-size-xl 
    font-size: 3.2rem

.typo-size-l 
    font-size: 2rem

.typo-size-m 
    font-size: 1.5rem

.typo-size-s 
    font-size: 1.3rem



// Colors

.typo-color-white 
    color: $white

.typo-color-anthrazit 
    color: $anthrazit  

.typo-color-grey03 
    color: $grey03  

.typo-color-lend 
    color: $lend-primary-color

.typo-color-rent 
    color: $rent-primary-color

.typo-color-blue 
    color: $search-primary-color              



// Links

a.link-negative:link,
a.link-negative:visited  
    color: $white 
  
   
